<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Giovanne Afonso</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/static/css/base.css">
    </head>
    
    <body>
        <div class="sitecontainer">
            <div class="pagewidth">
                <div style="box-shadow:0 2px 2px 1px #111;background:#222;">
                    <div class="mylogo pull-left">
                        <span class="codeitem">&lt;</span><span class="mylogoname">GiovanneAfonso</span><span class="codeitem">&gt;</span>
                    </div>
                    
                    <div class="pull-right">
                        <ul id="topmenu">
                            <li class="current_topmenu"><a href="#">Início</a>
                            <li><a href="#">Portfólio</a>
                            <li><a href="#">Contato</a>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
                
                <div class="row">
                    <div class="col-lg-12">
                        <div class="impactsupport">
                            <div class="impactwords">
                                <span style="font-size:50px;line-height:80px;">
                                    I'm a
                                </span>
                                <span style="color:#CCC;font-size:80px;line-height:80px;">
                                    developer
                                </span>
                                <br>
                                <span style="color:#F70;font-size:120px;line-height:80px;">
                                    FullStack
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-12">
                        <div class="sitecontent">
                            haa
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
