@topmenu-height: 92px;
@pad: 15px;
@max-row-width: 1040px;

/*
|----------------------------------------------------------------------------------
| Common styles
|----------------------------------------------------------------------------------
*/
body {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}

.row {
    clear:both;
    max-width: @max-row-width;
    margin: 0 auto;
}

.cool-font {
    font-family: 'Lily Script One', cursive;
}
.proof-font {
    font-family: 'PT Sans', sans-serif;
}

.separator {
    display: block;
    margin: 50px 0;
    height: 16px;
    background: url("http://mobileprovider.com.br/resources/img/separator.png") center top no-repeat transparent;
    clear: both;
}

#loading-site {
    display:block;
    position:fixed;
    top:50%;
    width:100%;
    margin:auto;
    text-align:center;
    font-size:56px;
    color:#333;
}

/*
|----------------------------------------------------------------------------------
| Header
|----------------------------------------------------------------------------------
*/
#siteheader {
    height: @topmenu-height;
    background: url(../img/menu.png) repeat-x;
    color:#FFF;
    box-shadow:0 1px 10px 2px #999;
}

#sitelogo {
    display: inline-block;
    margin: 0;
    padding: 0 10px;
    line-height: @topmenu-height;
    border-radius: 50%;
    border: 2px solid #000;
    background: #FFF;
    color: #333;
    .cool-font;
    font-size: 52px;
    font-weight: bold;
    float:left;
}
#sitelogo2 {
    display:inline-block;
    height:@topmenu-height;
    
    & > img {
        transition:all .25s;
        height: (@topmenu-height - 60px);
        margin-top:30px;
    }
    
    &:hover > img, &:focus > img {
        -webkit-transform: scale(1.05) rotateX(360deg) rotateZ(-5deg);
        transform: scale(1.05) rotateX(360deg) rotateZ(-5deg);
    }
}

#topmenu {
    float:right;
    .proof-font;
    
    ul {
        display:block;
        list-style:none;
        
        li {
            float:left;
            height: @topmenu-height;
            
            .current_menu_state () {
                color: #999;
                text-decoration: none;
            }
            
            &.current_menu > a, &.current_menu > a:hover, &.current_menu > a:focus {
                .current_menu_state;
            }
            
            a {
                display: block;
                padding: 0 20px;
                color: #FFF;
                font-size: 17px;
                font-weight:normal;
                line-height: @topmenu-height;
                transition: color .25s;
                
                &:hover, &:focus {
                    .current_menu_state;
                }
            }
        }
    }
}

/*
|----------------------------------------------------------------------------------
| Body
|----------------------------------------------------------------------------------
*/
#sitecontainer {
    -webkit-opacity: 0;
       -moz-opacity: 0;
            opacity: 0;
}

#sitecontent {
    padding-top: @pad;
    background: url(../img/presentation-bg.png) center top no-repeat;
    //min-height:600px;
}

.thumbs {
    display: block;
    margin:0;
    padding:0;
    list-style:none;
    
    & > li {
        @twidth: 30%;
        display:block;
        padding:4px;
        margin:0 2.5% 2.5% 0;
        padding:0;
        
        float: left;
        width: @twidth;
        
        background: #FFF;
        border-radius: 4px;
        box-shadow:0 1px 5px #CCC;
        
        transition: all .25s linear;
        
        &:hover, &:focus {
            -webkit-transform: scale(1.05);
                    transform: scale(1.05);
            a:after {
                display:block;
            }
        }
        
        &:nth-child(3n+1) {
            margin-left:2.5%;
        }
        &:nth-child(3n) {
            margin-right:0;
        }
        
        & > a {
            display: block;
            margin:5px;
            text-decoration:none;
            
            position:relative;
            
            &:after {
                content:'';
                position:absolute;
                bottom:.5px;
                right:5px;
                width:25px;
                height:38px;
                background:url('http://tubebox.org/public/images/pt/slider-arrow-right.png') left top 100%;
                display:none;
            }
            
            & > img {
                display:block;
                border-radius:4px;
                border:1px solid #DDD;
                width:100%;
                //height: 210px;
                
            }
            
            .thumb-description {
                padding-top:5px;
                
                h4 {
                    margin:0;
                    padding-bottom:1px;
                    color:#666;
                    font-size:16px;
                    font-weight:bold;
                }
                
                p {
                    color:#999;
                    font-size:16px;
                }
            }
            
        }
    }
    
}


/*
|----------------------------------------------------------------------------------
| Footer
|----------------------------------------------------------------------------------
*/
#sitefooter {
    display:block;
    margin-top:15px;
    padding:40px 0;
    background:url(../img/bg-grey.png) #EEE;
    box-shadow:inset 0 2px 2px #DDD;
    color:#888;
    font-size:16px;
}


/*
|----------------------------------------------------------------------------------
| CUSTOM
|----------------------------------------------------------------------------------
*/

#sitepresentation {
    font-size: 16px;
    cursor:default;
    margin-bottom:@pad;
    
    .home-badge {
        margin-top:-@pad;
        background:url(../img/home-badges-bg.png) center top no-repeat transparent;
        background-size:100% 100%;
        letter-spacing:2px;
        margin-bottom:@pad;
        padding:(@pad*2);
        padding-bottom:(@pad*4);
        min-height:370px;
        
        &:hover p {
            color:#FFF;
        }
    }
    
    h2 {
        display:block;
        margin:-@pad;
        margin-bottom:10px;
        padding:@pad;
        padding-bottom:(@pad*2);
        .proof-font;
        text-align:center;
        //border-bottom:1px solid #999;
        font-size:48px;
        //background:#222;
        background:url(../img/home-badges-title-bg.png) center top no-repeat transparent;
        background-size:100% 100%;
        color:#FFF;
    }
    
    p {
        text-align: center;
        font-size: 18px;
        color: #CCC;
    }
}

.ptitle {
    display:block;
    margin:0;
    margin-bottom:45px;
    padding:15px;
    color:#555;
    font-size:22px;
    text-align:center;
}





/*
|----------------------------------------------------------------------------------
| PORTFOLIO
|----------------------------------------------------------------------------------
*/
#portfolio-project {
    margin-top:-@pad;
    background:#FFF;
    //padding:(@pad*2) @pad;
    padding-bottom:0;
}

#project-header {
    background: url("http://mobileprovider.com.br/resources/img/separator.png") center bottom no-repeat transparent;
    padding:(@pad*2) 0;
    margin-bottom:-1px;
    
    h1 {
        font-size:50px;
    }
    h4 {
        font-size:24px;
        color:#999;
    }
    p {
        font-size:16px;
        color:#666;
        line-height:1.7em;
    }
}

.feature-list {
    @ibg: #F7F7F7;
    background:#FFF;
    //border:1px solid @ibg;
    border:5px solid #eee;
    border-radius:5px;
    margin-bottom:15px;
    
    & > h5 {
        display:block;
        padding:5px;
        padding-bottom:10px;
        margin:0;
        font-weight:bold;
        font-size:15px;
        background: #eee;
        margin-bottom:5px;
    }
    
    & > ul {
        margin:5px;
        padding:0;
        list-style:none;
        
        & > li {
            padding:3px 5px;
            background:@ibg;
            margin-bottom:5px;
            font-size:13px;
        }
    }
}

.page-grey {
    background:url(../img/bg-grey.png) #EEE;
    padding:@pad;
    padding-bottom: (@pad*2);
    box-shadow: inset 0 3px 5px 0 #E0E0E0;
}
.page-white {
    background:#FFF;
    padding:@pad;
    padding-bottom: (@pad*2);
    box-shadow: inset 0 3px 5px 0 #E0E0E0;
}









.great-box-container {
    background:#FFF;
    box-shadow:0 0 3px 2px #DDD;
    background:#F7F7F7;
    border:1px solid #AAA;
    border-radius:5px;
    overflow:hidden;
    margin-bottom:@pad;
    
    & > .gb-title {
        @gbbg: #222;
        display:block;
        margin:0;
        margin-bottom:@pad;
        padding:@pad;
        background:@gbbg;
        font-size:18px;
        font-weight:normal;
        text-align:center;
        color:#FFF;
        border-bottom:1px solid (@gbbg - #111);
    }
    & > .gb-content {
        padding:0;
    }
}